

.card {
    border-radius: .5rem;
    background-color: #fff;
    border: 1px solid #e2e8f0;
    color: #191b1f;
    padding: 15px;
    text-align: center;
    width: fill;
    margin-top:20px;
    margin-left:20px;
    max-width: 14.25rem;
    height: auto;
    max-height: auto;
    cursor: pointer;
  }

  #foto{
      margin-top: 10px;
      border-radius: 50%;
      width: 80px;
      height: 80px;
  }

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3{
    margin: 5px;
    font-size: 1.25rem;
    min-height: 3.125rem;
    font-weight: 500;
}

h6{
    margin: 0;
    font-size: 12px;
}

.footer{
    padding: 10px;
    width: fill;
    flex-wrap: nowrap;
    justify-content: column;

}

.chips{
    display: inline-flex;
    overflow: hidden;
    left: 0;
    padding: 5px;
}

.footer label{
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 500;
}
