<div class="empleados">
    <div class="listado">
        <mat-card class="card">
            <mat-card-content>
                <img id="foto" mat-card-image src="https://educacion.udd.cl/files/2020/01/avatar-hombre-2-2.jpg">
                <h3>Alejandro Buitrago García</h3>
                <h6>Fecha de alta</h6>
                <p>buitragogalejandro@gmail.com</p>

                <mat-divider></mat-divider>

                <mat-card-footer class="footer">
                    <label>Departamentos</label>
                    <mat-chip-list class="chips">
                        <mat-chip>Frontend</mat-chip>
                        <mat-chip>Backend</mat-chip>
                        <mat-chip>Fullstack</mat-chip>
                    </mat-chip-list>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>
       </div>
</div>