<mat-card class="card" [class.mat-elevation-z2]="true" (click)="AbrirDetalle()">
    <mat-card-content>
        <img id="foto" mat-card-image src="https://educacion.udd.cl/files/2020/01/avatar-hombre-2-2.jpg">
        <h3>{{empleado.nombre}} {{empleado.apellidos}}</h3>
        <h6>Fecha de alta</h6>
        <h6>{{fechaFormateada}}</h6>
        <p>{{empleado.email}}</p>

        <mat-divider></mat-divider>

        <mat-card-footer class="footer">
            <label>Departamentos</label>

                <mat-chip-list class="chips" *ngFor= "let ListaDepartamentos of nombreDepartamentos">
                    <mat-chip>{{ListaDepartamentos}}</mat-chip>
                </mat-chip-list>

        </mat-card-footer>
    </mat-card-content>
</mat-card>
