<div>
  <div class="opciones-empleados">
    <button mat-stroked-button (click)="AbrirRegistro()">
      <mat-icon>person_add_alt</mat-icon><label> Nuevo empleado</label>
    </button>
  </div>
</div>
<div id="caja-empleados" >
  <div *ngFor="let empleados of ListaEmpleados | paginate: { itemsPerPage: 10, currentPage: page } ">
    <app-empleado-model [empleado]="empleados" ></app-empleado-model>
  </div>
</div>


<pagination-controls *ngIf="ListaEmpleados.length > 10" class="pagination"
(pageChange)="page = $event"
previousLabel="<"
nextLabel=">">
</pagination-controls>
