.card {
    background-color: #fff;
    border-radius: .5rem;
    border: .01rem solid #e2e8f0;
    box-sizing: border-box;
    max-width: 550px;
    margin: 0 auto;
    display: block;
    margin-bottom: 1rem;
    padding: 1rem;
  }

.contenedor-ubicacion{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;

}

.chips{
    display: inline-flex;
    overflow: hidden;
    left: 0;
    padding: 5px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3{
    margin: 5px;
    font-size: 1.25rem;
    min-height: 3.125rem;
    font-weight: 500;
}

h6{
    margin: 0;
    font-size: 12px;
}
  
.footer{
    padding: 10px;
}

.footer label{
    display: flex;
    font-size: 12px;
    right: 0;
    margin-bottom: 10px;
    font-weight: 500;
}

input{
    border: none;
    background-color: transparent;
}

::ng-deep.mat-dialog-container {
    background-color: transparent;
    box-shadow: none;
    overflow: hidden;
  }
