.contenedor{
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}

.formulario{
    display: flex;
}

.titulo-form{
margin-left: 50%;
}

::ng-deep.mat-dialog-container {
    background-color: transparent;
    box-shadow: none;
  }

.caja1{
    display: flex;
    height: auto;
    flex-direction: column;

}
.caja2{
  height: auto;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.botones-form{
  text-align: center;
  margin-bottom: 10px;

}

