
<div id="caja-lateral" [class.mat-elevation-z12]="true">
  <!--<img class="bgfotomenu" src="assets\images\bgmenu.jpg"> -->
  <div id="caja-logo">
    <img id="logo" src="../../../assets/images/mclogo.jpg"/>
    <label class="empresa">{{Empresa}}</label>
    <label class="texto">Bienvenido</label>
    <label class="usuario">{{staticNombrePrueba}}</label>
  </div>
  
  <mat-divider></mat-divider>

  <div id="caja-botones">

    <button mat-stroked-button routerLinkActive="activo" routerLink="/dashboard" #tooltip="matTooltip" matTooltip="Resumen" matTooltipPosition="right">
      <mat-icon>home</mat-icon><label>Inicio</label>
    </button>
    <button mat-stroked-button routerLinkActive="activo" routerLink="/empleados" #tooltip="matTooltip" matTooltip="Gestión de empleados" matTooltipPosition="right">
      <mat-icon>group</mat-icon><label>Empleados</label>
    </button>
    <button mat-stroked-button routerLinkActive="activo" routerLink="/calendario" #tooltip="matTooltip" matTooltip="Eventos próximos" matTooltipPosition="right">
      <mat-icon>today</mat-icon><label>Calendario</label>
    </button>
    <button mat-stroked-button routerLinkActive="activo" routerLink="/facturacion" #tooltip="matTooltip" matTooltip="Gestión de facturas" matTooltipPosition="right">
      <mat-icon>fact_check</mat-icon><label>Facturación</label>
    </button>

  </div>
    
  <button mat-stroked-button id="boton-logout" (click)="logout()" color="warn">
    <mat-icon>logout</mat-icon><label>Cerrar sesión</label>
  </button>

</div>
